<?xml version="1.0"?>
<robot name="parameters" 
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931" />
  <xacro:property name="DEG_TO_RAD" value="0.017453293" />

  <!-- Colors -->
  <material name="Black"> <color rgba="0.0 0.0 0.0 1.0"/> </material>
  <material name="Red"> <color rgba="0.8 0.0 0.0 1.0"/> </material>
  <material name="White"> <color rgba="1.0 1.0 1.0 1.0"/> </material>
  <material name="Blue"> <color rgba="0.0 0.0 0.8 1.0"/> </material>
  <material name="Gray"> <color rgba="0.0 0.0 0.0 0.5"/> </material>

  <!-- DH parameters -->
  <xacro:property name="a1" value="0.320" />
  <xacro:property name="d1" value="0.045" />
  <xacro:property name="a2" value="0.250" />
  <xacro:property name="d2" value="0.125" />
  <xacro:property name="alpha3" value="3.1415926535897931" />

  <!-- Base parameters -->
  <xacro:property name="base_radius" value="0.08" />
  <xacro:property name="base_height" value="0.22" />
  <xacro:property name="base_offset_from_z" value="-0.09" />
  <xacro:property name="base_mass" value="2" />

  <!-- Shoulder parameters -->
  <xacro:property name="shoulder_length" value="0.35" />
  <xacro:property name="shoulder_width" value="0.16" />
  <xacro:property name="shoulder_height" value="0.05" />
  <xacro:property name="shoulder_offset_from_x" value="-0.15" />
  <xacro:property name="shoulder_mass" value="1.2" />

  <!-- Upperarm parameters -->
  <xacro:property name="upperarm_length" value="0.28" />
  <xacro:property name="upperarm_width" value="0.16" />
  <xacro:property name="upperarm_height" value="0.20" />
  <xacro:property name="upperarm_offset_from_x" value="-0.12" />
  <xacro:property name="upperarm_mass" value="2" />

  <!-- Forearm parameters -->
  <xacro:property name="forearm_radius" value="0.015" />
  <xacro:property name="forearm_height" value="0.30" />
  <xacro:property name="forearm_mass" value="1" />
  <xacro:property name="forearm_offset_from_z" value="0.10" />

</robot>
